﻿@model Socks.Web.Models.SockInformationViewModel

<div class="container">
    <h2>Sock Price:</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sock Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@string.Format("{0:C}", Model.Price);</td>
            </tr>
        </tbody>
    </table>
</div>
