﻿@model Socks.Web.Models.UserInformationViewModel

<div class="container">
    <h2>User Information:</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fullane</th>
                <th>Email</th>
                <th>Registration Date</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.FullName</td>
                <td>@Model.Email</td>
                <td>@string.Format("{0:C}", Model.Balance);</td>
            </tr>
        </tbody>
    </table>
</div>
